<div class="hero-section">
  <div class="hero-content">
    <h1>Welcome to TrustBanK</h1>
    <p>Empowering Your Financial Journey</p>
    <a routerLink="/account-creation" class="get-started-button">Get Started</a>
  </div>
</div>
<section class="about-us">
  <div class="container">
    <div class="about-us-text">
      <h2>About Us</h2>
      <p>
        Bank Management System <br />
        We specialize in providing comprehensive accounting services to
        businesses and individuals. Our team of experts is dedicated to
        streamlining financial processes, maximizing profits, and minimizing
        expenses. From account creation to account management, we have the tools
        and expertise to help you achieve your financial goals.
      </p>
    </div>
    <div class="about-us-image">
      <img src="../../assets/aboutus.png" alt="About Us Image" />
    </div>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="grid">
      <!-- Row 1 -->
      <div class="grid-item">
        <img src="../../assets/s1.png" alt="Account Creation" />
        <h3>Account Creation</h3>
        <p>
          We offer a range of account creation services, including personal and
          business accounts. Our team will guide you through the process,
          ensuring that all necessary documentation is completed accurately and
          efficiently.
        </p>
      </div>
      <div class="grid-item">
        <h3>Account Deposit</h3>
        <p>
          We offer a range of account deposit options, including online and
          in-person deposits. Our secure and efficient processes ensure that
          your funds are deposited quickly and accurately.
        </p>
        <img src="../../assets/s2.png" alt="Account Deposit" />
      </div>
      <div class="grid-item">
        <img src="../../assets/s3.png" alt="Account Management" />
        <h3>Account Management</h3>
        <p>
          Our account management services are designed to optimize your
          financial performance. We monitor your accounts, analyze trends, and
          provide recommendations to help you achieve your financial goals.
        </p>
      </div>
    </div>
  </div>
</section>
