<nav class="navbar">
  <div class="container">
    <a class="brand" routerLink="/">TrustBank</a>
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <ul [class.open]="isMenuOpen">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/account-creation">Create Account</a></li>
      <li><a routerLink="/account-management">Manage Account</a></li>
      <li><a routerLink="/transaction-history">Transaction History</a></li>
      <li><a routerLink="/transfer-funds">Transfer Funds</a></li>
      <li><a routerLink="/messaging">Contact Customer Service</a></li>
    </ul>
  </div>
</nav>
